amqp==5.1.1
asgiref==3.5.2
async-timeout==4.0.2
backports.zoneinfo==0.2.1
billiard==3.6.4.0
cached-property==1.5.2
celery==5.1.2
click==7.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
Collectfast==2.2.0
Deprecated==1.2.13
Django==3.2.13
django-appconf==1.0.5
django-celery-beat==2.2.1
django-clear-cache==0.3
django-crispy-forms==1.14.0
django-css-inline==0.0.5
django-debug-toolbar==2.2
django-extensions==3.1.5
django-filter==21.1
django-health-check==3.16.5
django-redis==5.2.0
django-select2==7.10.0
django-storages==1.9.1
django-taggit==3.0.0
django-timezone-field==4.2.3
djangorestframework==3.13.1
gunicorn==20.0.4
importlib-metadata==4.8.3
kombu==5.1.0
Markdown==3.3.7
packaging==21.3
prompt-toolkit==3.0.29
psycopg2-binary==2.9.3
pyparsing==3.0.9
python-crontab==2.6.0
python-dateutil==2.8.2
pytz==2020.1
redis==4.3.3
six==1.16.0
sorl-thumbnail==12.8.0
sqlparse==0.3.1
typing-extensions==4.1.1
vine==5.0.0
wcwidth==0.2.5
wrapt==1.14.1
zipp==3.6.0
